@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,700');
@font-face{
  font-family: "SF-Pro";
  src: url("css/fonts/SF-Pro.ttf")
}

*{
  font-family: SF-Pro;
}

*{transition: .3s;}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-image {
  height: 150px;
  border-radius: 50%;
  margin: 10px;
}

.certificate-image {
    height
  margin: 10px;
}

@media (max-width: 945px) {
  .profile-image {
    height: 120px;
    border-radius: 50%;
    margin: 10px;
  }
}

// cards

.card {
  border: none;
}

.skill-card { 
  background: color:rgba(255,255,255,1);
  border: none;
  &:hover {
    background: linear-gradient(170deg, #B4EC51 0%, #429321 100%);
    .skill-title {
      margin-left:1rem;
      color: #ffffff;
    }
    .skill-icon {
      top: 1%;
    }
    .skill-title i {
      display: none;
    }
  }
}

.skill-title {
  font-weight: 300;
  font-size:1.3rem;
  font-family: 'Open Sans', sans-serif;
  i {
    font-size: 2rem
  }
}

.skill-icon-container {
  position:absolute;
  top: 0;
  left:0;
  bottom:0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.skill-icon {
  position: relative;
  top: -50%;
  top:60%;
  font-size: 12rem;
  opacity: 0.2;
  color:rgba(255,255,255,1);
  z-index: 0;
}
