.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-image {
  height: 150px;
  border-radius: 50%;
  margin: 10px;
}

.certificate-image {
    height
  margin: 10px;
}
.card {
  border: none;
}


@media (max-width: 945px) {
  .profile-image {
    height: 120px;
    border-radius: 50%;
    margin: 10px;
  }
}