.carousel-container {
  position: relative;
  overflow: hidden;
  border-radius: 24px;
  padding: 0;
  --outer-r: 24px;
  --p-distance: 12px;
}

.carousel-track {
  display: flex;
  height: 100%;
}

.carousel-item {
  position: relative;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  border-radius: calc(var(--outer-r) - var(--p-distance));
  background-color: #0d0716;
  overflow: hidden;
  cursor: grab;
}

.carousel-item:active {
  cursor: grabbing;
}

.carousel-container.round {
  border: 1px solid #555;
}

.carousel-item.round {
  background-color: #0d0716;
  position: relative;
  bottom: 0.1em;
  border: 1px solid #555;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Dots */
.carousel-indicators-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 12px;
  z-index: 2;
  display: flex;
  justify-content: center;
  pointer-events: none; /* allow drag through */
}

.carousel-indicators-container.round {
  bottom: 3em;
  left: 50%;
  right: auto;
  transform: translateX(-50%);
}

.carousel-indicators {
  display: flex;
  gap: 10px;
  padding: 6px 10px;
  border-radius: 999px;
  pointer-events: auto; /* allow clicking dots */
}

.carousel-indicator {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  cursor: pointer;
  transition:
    background-color 150ms,
    transform 150ms;
}

.carousel-indicator.active {
  background-color: #fff;
}

.carousel-indicator.inactive {
  background-color: rgba(255, 255, 255, 0.45);
}
